.company {
  @extend %section;
}

.company__wrap {
  @extend %container;
}

.company__title {
  @extend %title;
  margin-bottom: 50px;
}

.company__list {
  display: flex;
  justify-content: space-between;
}

.company__item {
  &:not(:first-child) {
    margin-left: 30px;
  }
}

.company__link {
  @extend %flex-centered;

  width: 170px;
  height: 92px;

  fill: var(--social-icon-color);
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;

  transition-property: fill border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    color: var(--accent-text-color);
  }
}
