.company {
  @extend %section;
}

.company__wrap {
  @extend %container;
}

.company__title {
  @extend %title;
  margin-bottom: 50px;
}

.company__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;

  margin: -15px;
}

.company__item {
  margin: 15px;

  & {
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 768px) {
    & {
      width: calc((100% - 90px) / 3);
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: calc((100% - 180px) / 6);
    }
  }
}

.company__link {
  @extend %flex-centered;

  width: 100%;
  height: 100%;
  padding: 16px 0;

  fill: var(--social-icon-color);
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;

  transition-property: fill border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus,
  &:active {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    color: var(--accent-text-color);
  }
}
