.cta {
  @media screen and (max-width: 767.98px) {
    & {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin-right: auto;
    }
  }
}

.cta__title {
  @extend %title-cta;
  width: 100%;
}
