.footer-btn {
  @extend %flex-centered;
  @extend %button;

  width: 200px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  transition-property: color background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-btn--top {
  margin-left: 12px;
  margin-top: 20px;
}

.footer-btn__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-bg-color);
}
