%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%container {
  max-width: 1200px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

%img {
  display: block;
  max-width: 100%;
  height: auto;
}

%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-align {
  display: flex;
  align-items: center;
}

%list {
  padding: 0;
  margin: 0;
  letter-spacing: inherit;
  list-style: none;
}

%link {
  font-weight: 500;
  font-size: 14px;
}

%button {
  min-height: 50px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;

  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  transition: background-color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    background: var(--btn-hover-color);
  }
}

%adsolutely-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%current {
  color: var(--accent-text-color);
}

%title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
}

%title-cta {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-bg-color);
}

%shadow {
  text-shadow: var(--text-shadow-color);
}

%footer__text {
  font-style: normal;
  font-size: 14px;
}

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

%is-hidden {
  opacity: 0;
  pointer-events: none;
}
