ul {
  padding: 0;
  margin: 0;
  list-style: none;
  letter-spacing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
