:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --icon-cont-color: rgba(117, 117, 117, 1);
  --primary-bg-color: #ffffff;
  --primary-hero-color: #c4c4c4;
  --hero-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --btn-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --btn-hover-color: #188ce8;
  --text-logo-color: rgba(0, 0, 0, 1);
  --text-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --social-icon-color: #afb1b8;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --card-set-gap: 30px;
  --border-cont-icon: rgba(0, 0, 0, 1);
  --border-header-color: #ececec;
  --box-shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
